.wrapper{
    margin:0 auto;
    width:900px;
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(235, 155, 8);
    border-radius: 10px;
}
.header{
    text-decoration: underline;
    text-align: center;
    background-color: rgb(179, 101, 252);
}
.right{
    background-color: greenyellow;
    text-align: center;
    padding-left:5px;
}
.wrong{
    background-color: red;
    text-align: center;
    padding-left:5px;
}
.hidden{
    display: none;
}
#btn1{
    background-color: red);
}
.opend{
    background-color: red;
}